:host {
  position: fixed;
  right: 0;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.stock-item {
  background-color: steelblue;
  color: white;
}

.stock {
  margin: 0;
  text-align: center;
  font-weight: bold;
}

